@import 'rsuite/DatePicker/styles/index.css';
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 25px;
    border-radius: 10px;
    gap: 10px;
}

.item input{
    flex:1;
    padding: 5px;
}

.item >button{
    border: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}